marquee {
    background-color: aqua;
    font-size: 18px;
    width=100%;
    direction=left;
    height=5%;
}

#school {
    width: 900px;
    height: 600px;
    text-align: center;
}

#map {
    float: left;
}

#details {
    float: right;

}

#image {
    width: 60%;
    height: 40%;
}
